body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#calculator {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 5px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  outline: red;
}

.button:hover {
  background-color: #ccc;
}

#result {
  font-size: 32px;
  margin-bottom: 10px;
}

.clear {
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 5px;
  border: none;
  background-color: red;
  cursor: pointer;
  outline: red;
}

#manual {
  text-align: left;
  size: .5;
}

#sec {
opacity: .199999;    
size: .1;
}

